Postman token: PMAK-63ff38a8b664a06f2dc2ec88-608946922014fdd42ccf270e34a3c421cf
Github token:  ghp_vc3aS2JMOJwgJLYXZ9pRBArUYbdcqB3GONKE
AWS access key id: AKIAJSIE27KKMHXI3BJQ
Strike secret key: sk_test_515ur8bECzMAZB5JJcZZA0miClwZrOIl1ajIbNdHihyPsGs1p7UScSyDyCgQDv4cFpM49ckh9WaIt7PDq6CnOpaRM00LR1BPRSp
